.col-md-6.col-sm-12
  .offer-box class="#{'premium' if offer.premium? }"
    span.badge.badge-danger.badge-pill premium
    .offer-title
      h2= offer.advertiser_name
    .offer-action
      = link_to "Shop Now", offer.url, class:"btn"