= simple_form_for([:admin, @offer]) do |f|
  = f.error_notification
  .form-inputs
    = f.input :advertiser_name
    = f.input :url
    = f.input :description
    = f.input :starts_at
    = f.input :ends_at
    = f.input :offer_type, as: :boolean, label:'Premium:_' do
      = f.check_box :offer_type, {}, "premium", "regular"
  .form-actions.btn-toolbar.justify-content-between
    = f.button :submit
    = link_to 'Cancel', admin_offers_path, class: "btn btn-danger"