.row
  p#notice= notice
  h1 Offers
  .table-responsive
    table.table.table-striped
      thead
        tr
          th Advertiser name
          th Url
          th Description
          th Starts at
          th Ends at
          th Offer Type
          th colspan="3"
      tbody
        - @offers.each do |offer|
          tr
            td= offer.advertiser_name
            td= offer.url
            td= offer.description
            td= offer.starts_at
            td= offer.ends_at
            td= offer.offer_type
            td= offer.togle_status_link
            td= link_to 'Edit', edit_admin_offer_path(offer)
            td= link_to 'Destroy', [:admin,offer], method: :delete, data:{confirm: 'Are you sure?'}
  br/
  = link_to 'New Offer', new_admin_offer_path, class: 'btn btn-primary'