p#notice= notice
p
  strong Advertiser name:
  = @offer.advertiser_name
p
  strong Url:
  = @offer.url
p
  strong Description:
  = @offer.description
p
  strong Starts at:
  = @offer.starts_at
p
  strong Ends at:
  = @offer.ends_at
p
  strong Offer Type:
  = @offer.offer_type
= link_to 'Edit', edit_admin_offer_path(@offer)
| \
= link_to 'Back', admin_offers_path
