-if flash[:alert]
  .alert.alert-danger role="alert"
    = flash[:alert]
.row
  .col-md-4.offset-md-4.col-sm-12
    .card
      .card-block
        .card-title
          h2 Login
        .card-text
          = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
            .form-inputs
              = f.input :email, required: false, autofocus: true
              = f.input :password, required: false
              = f.input :remember_me, as: :boolean if devise_mapping.rememberable?
            .form-actions
              = f.button :submit, "Log in"
