.offer-box {
  width: 300px;
  height: 200px;
  border: thin solid black;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  .offer-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    text-align: center;
    height: 120px;
  }
  .offer-action {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80px;
    text-align: center;
    a {
      align-self: center;
      background-color: #CCC;
      color: #333;
    }
  }
  .badge {
    display: none;
    position: absolute;
    top: -0.6rem;
    right: 7.5rem;
    padding: 0.5rem;
    border: thin solid white;
    box-shadow: 0px 2px 3px #BBBBBB;
  }
}
.offer-box.premium {
  .badge {
    display: inline-block;
  }
  a {
    background-color: chartreuse;
    color: #333;
    padding: 15px;
  }
}
