doctype html
html lang="en"
  head
    meta content=("text/html; charset=UTF-8") http-equiv="Content-Type" /
    meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport" /
    meta name="robots" content="noindex,nofollow" /
    title LemoneyChallenge
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
  body
    nav.navbar.navbar-inverse.bg-primary.navbar-toggleable-md
      button.navbar-toggler.navbar-toggler-right aria-controls="adminNavbar" aria-expanded="false" aria-label=("Toggle navigation") data-target="#adminNavbar" data-toggle="collapse" type="button"
        span.navbar-toggler-icon
      a.navbar-brand href='/' Challenge
      #adminNavbar.collapse.navbar-collapse
        ul.navbar-nav.mr-auto.mt-2.mt-md-0
          li.nav-item.active
            a.nav-link href="/admin/offers"
              | Offers
        ul.navbar-nav.my-2.my-lg-0
          li.nav-item
            a.nav-link href="#" = current_user.email
          li.nav-item
            = link_to 'Logout', destroy_user_session_path, method: :delete, class: "nav-link"
    .container
      br
      = yield
