doctype html
html lang="en"
  head
    meta content=("text/html; charset=UTF-8") http-equiv="Content-Type" /
    meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport" /
    meta name="robots" content="noindex,nofollow" /
    title LemoneyChallenge
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
  body
    .container
      = yield
